.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 6px 4px;
    background-color: white;
    height: 40px;
    border-radius: 12px;
}

.todo-item>p {
    flex: 1;
}

.todo-item--done {
    text-decoration: line-through;
}